.grid-container {
    background: url(/pic/newlaw.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.6fr 1.4fr repeat(11, 1fr);
    grid-template-areas:
      "navbar navbar navbar navbar navbar navbar navbar"
      ". . titel titel titel . ."
      ". dani . alex . ali ."
      ". danipic . alexpic . alipic ."
      ". danipic . alexpic . alipic ."
      ". danipic . alexpic . alipic ."
      ". dsmall . asmall . alismall ."
      ". daninfo . alexinfo . alinfo ."
      ". . . . . . . "
      ". danikontakt . alexkontakt . alikontakt ."
      ". danikontakt . alexkontakt . alikontakt ."
      "footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer"; 
  }

  .daniyal, .alex, .ali {
    align-self: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: var(--main-main-color);
  }

  .daninfo, .alexinfo, .alinfo {
      
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
  }


  .daninfo p, .alexinfo p, .alinfo p{
      font-weight: bold;
      border-bottom: 1px solid var(--main-secondary-color);

  }

  .danipic, .alexpic, .alipic {
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    transition: 5.0s;
    background-color: white;
    width: max-content;
    height: max-content;
    width: 280px;
    height:360px;
    
  }

.danismallsection h4, .alexsmallsection h4, .alismallsection h4{
    border-bottom: 1px solid var(--main-secondary-color);
}


.titel {
    grid-area: titel; 
    align-self: center;
    justify-self: center;
    color: var(--main-main-color); 
}

.daniyal {
grid-area: dani;
border-bottom: 1px solid var(--main-secondary-color);
}

.danipic { 
    grid-area: danipic; 

}



.daninfo {
    grid-area: daninfo;
}

.danismallsection {
    grid-area: dsmall;
}

.alex { 
    grid-area: alex; 
    border-bottom: 1px solid var(--main-secondary-color);
}

.alexpic {
    grid-area: alexpic;
}

.alexinfo {
    grid-area: alexinfo;
}

.alexsmallsection {
    grid-area: asmall;
}

.ali { 
    grid-area: ali; 
    border-bottom: 1px solid var(--main-secondary-color);
}

.alipic {
    grid-area: alipic;
}

.alinfo {
    grid-area: alinfo;
}

.alismallsection {
    grid-area: alismall;
}

.fab {
    color: goldenrod;
    font-size: 20px;
    margin-bottom: 15px;
}

.danikontakt {
    grid-area: danikontakt;
}

.alexkontakt {
    grid-area: alexkontakt;
}

.alikontakt {
    grid-area: alikontakt;
}

@media screen and (max-width: 1200px) {
    .grid-container {
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: 0.6fr 1.4fr repeat(7, minmax(7em, auto));
        grid-template-areas: 
        "navbar navbar navbar navbar navbar navbar"
        ". .  titel titel titel . ."
        ". dani . alex . ali ."
        ". danipic . alexpic . alipic ."
        ". dsmall . asmall . alismall ."
        ". daninfo . alexinfo . alinfo ."
        ". danikontakt . alexkontakt . alikontakt ."
        "footer footer footer footer footer footer footer";

        }
        .danipic, .alexpic, .alipic { 
            box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
            margin-bottom: 1px;
            transition: 5.0s;
            background-color: white;
            width: 250px;
            height:320px;
 }
}

                

@media screen and (max-width: 768px) {
    .grid-container {
        background: white;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.1fr 1.4fr repeat(21, minmax(1em, auto));
        grid-template-areas: 
        "navbar navbar navbar navbar navbar"
        ". titel titel titel ."

        ". dani dani dani ."
        ". . . . ."
        ". . danipic . ."
        ". . dsmall . ."
        ". . daninfo . ."
        ". .danikontakt . ."

        ". alex alex alex ."
        ". . . . ."
        ". . alexpic . ."
        ". . asmall . ."
        ". . alexinfo . ."
        ". . alexkontakt . ."

        ". ali ali ali ."
        ". . . . ."
        ". . alipic . ."
        ". . alismall . ."
        ". . alinfo . ."
        ". . alikontakt . ."

        "footer footer footer footer footer";
        }
    }